.formTemplate {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 25px;
    box-sizing: border-box;
    background-size: cover;
    position: relative;

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(0 0 0 / 25%);
    }
}

.formCard {
    max-width: 550px;
    width: 100%;
    background: rgb(255 255 255 / 15%);
    border-radius: 10px;
    outline: 1px solid #eee;
    outline-offset: 8px;
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    &__title {
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin: 0 0 30px;
    }

    &__form {
        &-button {
            margin: 35px 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            button {
                width: 100%;
            }
        }
    }

    &__footer {
        margin-top: 25px;

        &-text {
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin: 0;

            span {
                cursor: pointer;
                color: #1eb6c0;
                font-weight: 700;
            }
        }
    }
}

.button {
    background: linear-gradient(90deg, rgb(117 74 153) 0%, rgb(30 182 192) 100%);
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &--border {
        background: transparent;
        border: 2px solid #fff;
    }
}

.linkBtn {
    color: #1eb6c0 !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    text-align: left !important;
    cursor: pointer;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}

.form-group {
    margin-bottom: 18px;

    label {
        display: block;
        font-size: 14px;
        color: #fff;
        margin: 0 0 2px;
    }

    input {
        border: 1px solid #eee;
        padding: 8px 12px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;

        &:focus,
        &:focus-within {
            border: 1px solid #fff;
            outline: none !important;
            box-shadow: none !important;
        }
    }
}